/* General Font */
body {

}

/* Frequency form dropdown */
.form-select-override {

}

/* All form inputs & dropdowns */
.form-control {

}

.frequency-form-bar {
    display: flex;
}

.predict-tax-form-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frequency-form-input {
    flex-grow: 1;
}

.per-phrase {
    margin-left: 10px;
    margin-right: 5px;
}

.predict-phrase {
    margin-left: 10px;
    margin-right: 5px;
}

.toggle-box {
    margin-left: auto;
}