/* General Font */
body {

}

/* Frequency form dropdown */
.form-select-override {

}

/* All form inputs & dropdowns */
.form-control {

}

.frequency-form-bar {
    display: flex;
}

.frequency-form-input {
    flex-grow: 1;
}

.per-phrase {
    margin-left: 10px;
    margin-right: 5px;
}